@import "tailwindcss";

:root {
  --bg-color: #181818;
  --fg-color: #fbf1c7;
  --primary: #ebdbb2;
  --secondary: #282828;
  --red: #cc241d;
  --orange: #d65d0e;
  --yellow: #d79921;
  --green: #98971a;
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: var(--font-jetbrains-mono), monospace;
  overflow-x: hidden !important;
}

section {
  margin-bottom: 80px;
}

button {
  cursor: pointer;
  font-family: var(--font-jetbrains-mono), monospace;
}
